<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.tracker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" 
xmlns:gap   = "http://phonegap.com/ns/1.0"
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BP</name>
    <description>
        A sample application that track time.
    </description>
    <author email="dev@cordova.apache.org" href="http://phonegap.com">
        R Team
    </author>
    
    <content src="index.html" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="com.millerjames01.sqlite-plugin" version="1.0.1" />
    
    <!-- <plugin name="cordova-plugin-whitelist" version="1" /> -->
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/AndroidApp_launcher_icon.png"/>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
