<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bpmetrics.tracker" 
version="1.6.1"
versionCode = "9" 
xmlns="http://www.w3.org/ns/widgets" 
xmlns:gap   = "http://phonegap.com/ns/1.0" 
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BP Metrics</name>
    <description>
        BP Metrics Application for time tracking offline and online.
    </description>
    <author email="hdekkers@dynaread.com" href="https://bpmetrics.com/">
        Hans Dekkers
    </author>
    
    <content src="index.html" />
    
    <preference name="permissions" value="none"/>

    <!-- Enabling individual permissions -->
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="http://api.phonegap.com/1.0/device"/>
    
     <!--    Phonegap Cloud Build Plugin Defination -->
     <!-- 
    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.0.0" />
	<gap:plugin name="io.litehelpers.cordova.sqlite" source="pgb" version="0.7.10" />
	<gap:plugin name="org.apache.cordova.dialogs" source="pgb" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.network-information" source="pgb" version="0.2.12" />
 	-->
	<plugin name="cordova-plugin-whitelist" spec="1.0.0" />
	<plugin name="io.litehelpers.cordova.sqlite" source="pgb" spec="0.7.10" />
	<plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.2.10" />
	<plugin name="org.apache.cordova.network-information" source="pgb" spec="0.2.12" />
	<plugin name="cordova-plugin-app-version" source="npm" spec="0.1.8" />
	<plugin name="cordova-launch-review" source="npm" spec="1.0.2"/>
	
	
	
    <!--    Cordova Phonegap Build Plugin Defination -->
    <!-- 
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-dialogs"  />
    <plugin name="cordova-sqlite-storage"  />
     -->
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/AndroidApp_launcher_icon.png"/>
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="10"/> 
 		<preference name="android-targetSdkVersion" value="22"/> 
    </platform>
    <!-- 
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
     -->
</widget>
